#hibernate.dialect=org.hibernate.dialect.MySQL57Dialect
#hibernate.connection.driver_class=com.mysql.jdbc.Driver
#hibernate.connection.url=jdbc:mysql://localhost:3306/sample_db
hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
hibernate.connection.driver_class=org.postgresql.Driver
hibernate.connection.url=jdbc:postgresql:sample_db
hibernate.connection.username=sample_user
hibernate.connection.password=sample_pass
hibernate.show_sql=true
hibernate.hbm2ddl.auto=update
